<div class="header-calling-card">
    {{ with $.Site.Params.middleColumn }}
    {{ range . }}
    {{ if ne .href "#" }}<a {{ printf "href=%q" .href | safeHTMLAttr }} >{{ end }}
    <span class="logo-contact">{{ .a }}</span></a><br />
    {{ end }}
    {{ else }}
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">..............................................</span>
    <span class="logo-contact">▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀</span>
    {{ end }}
</div>