<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="{{ if .IsHome }}
  {{- $.Site.Params.Subtitle -}}
{{ else if .Description }}
  {{- .Description | plainify -}}
{{ else }}
  {{- .Summary | plainify -}}
{{ end }}" />

<meta name="keywords" content="{{ with .Params.Keywords }}
  {{- delimit . ", " -}}
{{ else }}
  {{- delimit $.Site.Params.Keywords ", " -}}
{{ end }}" />

<meta name="robots" content="noodp" />

{{ if (isset $.Site.Params "msverify") }}
  <meta name="msvalidate.01" content="{{ .Site.Params.msVerify }}" />
{{ end }}

{{ if (isset $.Site.Params "metrika") }}
  <script type="text/javascript">
    (function(m,e,t,r,i,k,a){
      m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {
        if (document.scripts[j].src === r) { return; }
      }
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym({{.Site.Params.metrika }}, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
{{ end }}

<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/95754705" style="position:absolute; left:-9999px;" alt="" />
  </div>
</noscript>

<meta http-equiv="PICS-Label" content='(PICS-1.1 "http://www.gcf.org/v2.5"
  labels on "1994.11.05T08:15-0500"
  until "2999.12.31T23:59-0000"
  for "http://w3.org/PICS/Overview.html"
  ratings (suds 0.5 density 0 color/hue 1))'>

<link rel="canonical" href="{{ .Permalink }}" />

<script type="application/javascript" async 
  src="https://www.googletagmanager.com/gtag/js?id={{ $.Site.Params.googleAnalyticsID }}">
</script>

<script type="application/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ $.Site.Params.googleAnalyticsID }}');
  });
</script>

{{ if (isset $.Site.Params "clarity") }}
  <script>
    (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "{{.Site.Params.clarity}}");
  </script>
{{ end }}

{{ $style := resources.Get "css/style.scss" | css.Sass }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ if (fileExists "static/style.css") }}
  <link rel="stylesheet" href="{{ "style.css" | absURL }}">
{{ end }}

{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

{{ range .Site.Params.custom_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}

{{ if isset $.Site.Params "favicon" }}

<link rel="shortcut icon" href="{{ $.Site.Params.favicon | absURL }}">

{{ end }}

<meta name="twitter:card" content="summary" />

{{ if (isset $.Site.Params "twitter") }}
  {{ if (isset $.Site.Params.Twitter "site") }}

    <meta name="twitter:site" content="{{ $.Site.Params.Twitter.site }}" />

  {{ end }}

    <meta name="twitter:creator" content="{{
                if .IsHome }}{{
                $.Site.Params.Twitter.creator }}{{
                else if isset .Params "authortwitter" }}{{
          .Params.authorTwitter }}{{ else }}{{
          .Params.Author }}{{
          end }}" />

{{ end }}

<meta property="og:locale" content="{{
                $.Site.Language.Lang }}" />

<meta property="og:type" content="{{
                if .IsPage }}article{{
                else }}website{{
                end }}" />

<meta property="og:title" content="{{
                if .IsHome }}{{
                $.Site.Title }}{{
                else }}{{
                .Title }}{{
                end }}">

<meta property="og:description" content="{{
                if .IsHome }}{{
                $.Site.Params.Subtitle }}{{
                else if .Description}}{{
                .Description | plainify }}{{
                else }}{{
                .Summary | plainify }}{{
                end }}" />

<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ $.Site.Title }}" />

{{ if (isset .Params "cover") }}
  {{ $pageCover := .Param "cover" }}
  {{ with (.Resources.GetMatch (.Param "cover")) }}
    {{ $pageCover = .RelPermalink }}
  {{ end }}
  <meta property="og:image" content="{{ $pageCover | absURL }}">
{{ else }}
  {{ if isset $.Site.Params "favicon" }}
    <meta property="og:image" content="{{ $.Site.Params.favicon | absURL }}">
  {{ end }}
{{ end }}

<meta property="og:image:width" content="{{$.Site.Params.OGImageWidth}}">
<meta property="og:image:height" content="{{$.Site.Params.OGImageHeight}}">

{{ range .Params.categories }}

  <meta property="article:section" content="{{ . }}" />

{{ end }}
{{ if isset .Params "date" }}

  <meta property="article:published_time" content="{{ time .Date }}" />

{{ end }}

{{ with .OutputFormats.Get "RSS" }}

  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{
              $.Site.Title }}" />

{{ end }}

{{ with .OutputFormats.Get "json" }}

  <link href="{{ .RelPermalink }}" rel="alternate" type="application/json" title="{{
              $.Site.Title }}" />
  
{{ end }}

{{ $menu := resources.Get "js/menu.js" | js.Build | resources.Minify }}
{{ $secureJS := $menu | resources.Fingerprint "sha512" }}

<script type="text/javascript" integrity="{{
              $secureJS.Data.Integrity }}" src="{{
              $menu.RelPermalink }}"></script>

{{if (findRE "<pre" .Content 1) }}
  {{ $cb := resources.Get "js/clipboard.js" | js.Build | resources.Minify }}
  {{ $secureJS := $cb | resources.Fingerprint "sha512" }}
  <script type="text/javascript" integrity="{{
                $secureJS.Data.Integrity }}" src="{{
                $cb.RelPermalink }}"></script>{{
end }}
