<div class="header-inner">
    <div class="header-left">
        <div class="header-photo">
            {{ partial "photo.html" . }}
        </div>
    </div>

    <div class="header-middle">
        {{ partial "calling_card.html" . }}
    </div>

    <div class="header-right">
        {{ partial "qr.html" . }}
    </div>
</div>

<div class="header-nav-bar">
    {{ partial "site_nav.html" . }}
</div>
