{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
    <div class="pagination__title">
        <h1>{{ $.Site.Params.ReadOtherPosts }}</h1>
    </div>
    <div class="pagination__buttons">
        {{ if .NextInSection }}
        <span class="button previous">
            <a href="{{ .NextInSection.Permalink }}">
                <h6>← {{ .NextInSection.Title }}</h6>
            </a>
        </span>
        {{ end }}
        {{ if .PrevInSection }}
        <span class="button next">
            <a href="{{ .PrevInSection.Permalink }}">
                <h6>{{ .PrevInSection.Title }} →</h6>
            </a>
        </span>
        {{ end }}
    </div>
</div>
{{ end }}
