<!-- qrencode "I'm too lame to read bitchx.doc" -t UTF8i -m 0 -lH -->
<span class="logo-end">█▀▀▀▀▀█ ▄█▀█▀▀ ▄▀██▄▄▄█ ▄ █▀▀▀▀▀█</span><br />
<span class="logo-end">█ ███ █ █ █▀  █  ▄ █▀█ ▄  █ ███ █</span><br />
<span class="logo-end">█ ▀▀▀ █ █ ▄▀ ▀▀▄█   █▀██  █ ▀▀▀ █</span><br />
<span class="logo-end">▀▀▀▀▀▀▀ ▀ █▄█ ▀▄█ ▀ █ ▀▄█ ▀▀▀▀▀▀▀</span><br />
<span class="logo-end">▄█  █▀▀█ ▄█   ▄ ▀ ▀▀  ▄▄▀▄▀▀█▀▀▄</span><br />
<span class="logo-end">█▄█▄▄▀▀ █▀ ▀    █▄ ▀█▀█▀ ▄▀▄█▄▀ ▀</span><br />
<span class="logo-end">▄▀█  ▄▀▀█ █ █ █▀▀▀▄████▄█▀██ ▀▄</span><br />
<span class="logo-end">▄▀ ▀  ▀▀▀ ▀█ ▄▄ ▄▀█ █ ▄▀█▀▀█▀▀▀▄█</span><br />
<span class="logo-end">▀ ▄▀▀ ▀▀█▀█▀██▄▀▄█▀▀▀ ▀██ █▀ ▀▄▄▄</span><br />
<span class="logo-end">▀▀▀▄  ▀▄▀▄▄ ███▀ ▀ ██▀▀▀█▄▄█▀ ▀ ▀</span><br />
<span class="logo-end">▀ █▀ ▀▀█▀▀▀ █ █  ▄▀█▀ ▄▀▀ ██ ▀ ▀▄</span><br />
<span class="logo-end">▀▀▄▀ ▀▀▄  ▀▀▀▄█▄▀  ▄  ██ ▀▀▄█▄▀ █</span><br />
<span class="logo-end">▀▀   ▀▀ ▄▄▀▀ ▀█▄▀██  ▄ ▀█▀▀▀█▀ ▀█</span><br />
<span class="logo-end">█▀▀▀▀▀█ █  ▀█▀▄▀█▄███▄ ▄█ ▀ █▄▀ ▀</span><br />
<span class="logo-end">█ ███ █  █   ▄▀█▀▄█  █ ▀██▀▀██▄█▀</span><br />
<span class="logo-end">█ ▀▀▀ █ ▀▄▄▀ ▄▄  ▄█▀▄▄▀██  ▄██ ▀▀</span><br />
<span class="logo-end">▀▀▀▀▀▀▀   ▀▀▀ ▀▀▀   ▀▀  ▀▀▀ ▀▀  ▀</span>
