<div class="legacyMenu">
    <nav class="navigation-menu">
        <ul class="navigation-menu__inner menu--desktop">
            {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
            {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
            {{ if not .HasChildren }}
            <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
            {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
            <li class="menu-item">
                <ul class="menu">
                    <li class="menu__trigger">{{ $.Site.Params.MenuMore }}&nbsp;▾</li>
                    <li>
                        <ul class="menu__dropdown">
                            {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
                            {{ if not .HasChildren }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                            {{ end }}
                        </ul>
                    </li>
                </ul>
            </li>
            {{ end }}
            {{ else }}
            {{ range $.Site.Menus.main }}
            {{ if not .HasChildren }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
            {{ end }}
        </ul>
    </nav>
</div>