.highlight {
    pre {
        code {
            span {
                span {
                    font-family: 'iosevka-regular', monospace;
                    font-size: 16px;
                    line-height:16px;
                    letter-spacing: 0.03em;
                    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
                        font-family: 'iosevka-regular', monospace;
                        font-size: 8px;
                        line-height: 8px;
                        letter-spacing: 0.03em;
                    }
                }
            }
        }
    }
}

.bg { color: #e5e5e5; background-color: $color-crt; }
.chroma { color: #e5e5e5; background-color: $color-crt; }
.err { color: #ff0000 }
.lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
    font-family: 'iosevka-regular', monospace;
    font-size: 16px;
    line-height: 17px;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        font-family: 'iosevka-regular', monospace;
        font-size: 8px;
        line-height: 9px;
        line-break: unset;
    }
}
.lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
.hl { background-color: #ffffcc }
.lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #00ff66;
}

.chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #00ff66;
}

.line { display: flex;  } // this breaksthe font
.k { color: #ffffff;  }
.kc { color: #ffffff;  }
.kd { color: #ffffff;  }
.kn { color: #ffffff;  }
.kp { color: #ffffff; }
.kr { color: #ffffff; }
.kt { color: #ffffff;  }
.na { color: #00ff66; }
.nb { color: #ffffff;  }
.ld { color: #ffff00;  }
.s { color: #00ffff;  }
.sa { color: #00ffff;  }
.sb { color: #00ffff;  }
.sc { color: #00ffff;  }
.dl { color: #00ffff;  }
.sd { color: #00ffff;  }
.s2 { color: #00ffff;  }
.se { color: #00ffff;  }
.sh { color: #00ffff;  }
.si { color: #00ffff;  }
.sx { color: #00ffff;  }
.sr { color: #00ffff;  }
.s1 { color: #00ffff;  }
.ss { color: #00ffff;  }
.m { color: #ffff00;  }
.mb { color: #ffff00;  }
.mf { color: #ffff00;  }
.mh { color: #ffff00;  }
.mi { color: #ffff00;  }
.il { color: #ffff00;  }
.mo { color: #ffff00;  }
.c { color: #007f7f }
.ch { color: #007f7f }
.cm { color: #007f7f }
.c1 { color: #007f7f }
.cs { color: #007f7f }
.cp { color: #00ff00;  }
.cpf { color: #00ff00;  }
.gl { text-decoration: underline }
