// Base font mixin
@mixin font-face($family, $filename) {
  @font-face {
    font-family: $family;
    src: url(../fonts/#{$filename}.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

// Modern fonts
@include font-face("iosevka-regular", "iosevka-regular");
@include font-face("ShareTechMono-Regular", "ShareTechMono-Regular");

// VGA fonts
$vga-sizes: (
  "8x8": "Web437_IBM_VGA_8x8",
  "8x14": "Web437_IBM_VGA_8x14",
  "8x16": "Web437_IBM_VGA_8x16",
  "9x14": "Web437_IBM_VGA_9x14",
  "9x16": "Web437_IBM_VGA_9x16"
);

@each $size, $font in $vga-sizes {
  @include font-face($font, $font);
} 