@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin text-size-adjust {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@mixin gradient-scrollbar($direction) {
  $colors: map-get($gradient-colors, 'green'),
          map-get($gradient-colors, 'cyan'),
          map-get($gradient-colors, 'white'),
          map-get($gradient-colors, 'magenta');
  
  @if $direction == 'vertical' {
    background: linear-gradient(to bottom, $colors);
    &:hover {
      background: linear-gradient(to bottom, nth($colors, 4), nth($colors, 3), nth($colors, 2), nth($colors, 1));
    }
  } @else {
    background: linear-gradient(to right, $colors);
    &:hover {
      background: linear-gradient(to right, nth($colors, 4), nth($colors, 3), nth($colors, 2), nth($colors, 1));
    }
  }
}

@mixin mobile {
  @media screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) {
    @content;
  }
} 