::-webkit-scrollbar {
  width: $spacing-base;
  height: $spacing-base;
}

::-webkit-scrollbar-thumb {
  &:vertical {
    min-height: $spacing-base * 16;
    @include gradient-scrollbar('vertical');
  }

  &:horizontal {
    min-width: $spacing-base * 16;
    @include gradient-scrollbar('horizontal');
  }
} 
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 256px;
  background: linear-gradient(to bottom, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
}

::-webkit-scrollbar-thumb:vertical:hover {
  background:linear-gradient(to bottom,rgb(217, 0, 255), rgb(255, 255, 255), rgb(0, 238, 255), rgb(61, 249, 61));
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 256px;
  background: linear-gradient(to right, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background:linear-gradient(to right,rgb(217, 0, 255), rgb(255, 255, 255), rgb(0, 238, 255), rgb(61, 249, 61));
}