// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #CED4DA;
$color-gray-dark: #6C757D;
$color-shadow: #111111;
$color-crt: rgba(0, 0, 0, 0.89);

// Gradients
$gradient-colors: (
  green: rgb(61, 249, 61),
  cyan: rgb(0, 238, 255),
  white: rgb(255, 255, 255),
  magenta: rgb(217, 0, 255)
);

// Spacing
$spacing-base: 16px;
$spacing-double: 32px;

// Breakpoints
$mobile-min: 360px;
$mobile-max: 767px;

// Font sizes
$font-size-base: 16px;

// Font families
$font-family-primary: 'Web437_IBM_VGA_8x16', monospace; 