* {
    @include text-size-adjust;
    @include reset-spacing;
    border: 0;
    font-family: $font-family-primary;
    font-size: $font-size-base;
    font-style: normal;
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: default;
}

body {
    background-color: $color-crt;
    
    @include mobile {
        min-width: $mobile-min;
    }
}

dl {
    padding-bottom: $spacing-base;
    margin-top: $spacing-double;
}

dd {
    margin-bottom: $spacing-base;
}

dt, strong, time {
    color: $color-white;
}

a {
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
    span {
        //text-decoration: underline;
        //text-decoration-thickness: 1px;;
    }
}

table {
    box-shadow: 8px 9px 0 0 $color-shadow;
    margin-bottom: $spacing-base;
    background-color: $color-gray-light;
    padding: 4px;
    thead {
        background-color: $color-gray-dark;
        color: $color-white;
        tr {
            th {
                padding: 4px;
                text-decoration: underline;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 4px;
            }
        }
    }

}

li {
    color: #CED4DA;
}

ul {
    list-style-type: none;

    li::before {
        color: #111111;
        text-decoration: none;
        content: "";
    }
}

p {
    color: #CED4DA;
    margin-bottom: 8px;
    line-height: 24px;
}

span {
    display: unset;
    color: #CED4DA;
}

em {
    color: white;
    font-style: oblique;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    box-shadow: 8px 9px 0 0 $color-shadow;
    text-align: center;
    display: block;
    padding: 16px;
    width: 128px;
    margin-bottom: 16px;

    a {
        margin: 2px;
        color: #111111;
    }

    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        width: auto;
        margin-left: 4px;
        margin-right:4px;
        margin-bottom: 16px;
    }
}

h1 {

    background-color: #DEE2E6;
}

h2 {
    background-color: #CED4DA;
}

h3 {
    background-color: #ADB5BD;
}

h4 {
    background-color: #6C757D;
    color: #DEE2E6;
    a {
        margin-left: 8px;
        color: #DEE2E6;
    }
}

h5 {
    background-color: #495057;
    color: #DEE2E6;
    a {
        margin-left: 8px;
        color: #DEE2E6;
    }
}

h6 {
    background-color: #343A40;
    a {
        margin-left: 8px;
        color: #DEE2E6;
    }
}

div {
    border-style: solid;
    border-width: 0px;
    border-color: white;
    border-style: dotted;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px; 
    padding-bottom: 2px;
    overflow: hidden;
}

br {
    clear: both;
}

code {
    background-color: #343A40;
    color: white;
    box-shadow: 8px 9px 0 0 $color-shadow;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;

    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        font-size: 8px;
        line-height: unset;
    }
}

pre {
    code {
        box-shadow: unset;
        display: unset;
        background-color: unset;
        padding: unset;
        margin: unset;
        color: unset;
    }

    box-shadow: 8px 9px 0 0 $color-shadow;
    display: block;
    padding: 8px;
    margin-bottom: 24px;
    margin-right:8px;
    background-color: #000000;
    color: #CED4DA;
    overflow: auto;

    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        width: 95%;
        font-size: 8px;
        line-height: 8px;
        line-break: none;
    }
}

blockquote {
    color: lightgreen;
    margin-bottom: 8px;
    margin-left: 4px;

    dl {
    }

    p {
        line-height: unset;
        text-align: left;
    }
}

blockquote::before {
    content: "> ";
    float: left;
    margin-right:4px;
}

blockquote p {
    color: unset;
}

.body-container {
    margin: 0;
    padding: 0;
}

.header-inner {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;

    span {
        white-space: pre;
        line-break: strict;
    }
}

.graphicMenu {
    background: linear-gradient(to left, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255)); 
    -moz-background-clip: text;
    background-clip: text;
    width: auto;
    display: inline-flex;
    flex-direction: row;
    gap: 16px;

    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.graphicMenu:hover {
   background: linear-gradient(to left,rgb(127, 121, 127), rgb(181, 181, 171), rgb(255, 255, 255));
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   color: transparent;
   -webkit-text-fill-color: transparent;
}

.graphicMenuItem {
    display: inline-block;
    span {
        white-space: pre;
        overflow: visible;
        color: transparent;
    }
    
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.05em;
    
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }
}

.graphicMenuItem:hover {
    background: linear-gradient(to left, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


.legacyMenu {
    display: none;
}

.header-photo {
    line-height: 16px;
    padding:0;
    margin:0;
    float: left;
}

.photo-border {
    background: linear-gradient(to left,rgb(127, 121, 127), rgb(181, 181, 171), rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
}

.header-calling-card {
    line-height: 16px;
    padding:0;
    margin:0;
    background: linear-gradient(to right, rgb(127, 121, 127), rgb(181, 181, 171), rgb(255, 255, 255), rgb(217, 0, 255));
    -webkit-background-clip: text, border;
    background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
    width: 368px;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        background: linear-gradient(to right, rgb(127, 121, 127), rgb(181, 181, 171), rgb(255, 255, 255), rgb(127, 121, 127));
        -webkit-background-clip: text;
        background-clip: text, border-box;
        -webkit-text-fill-color: transparent;
        width:100%;
    }
}

.header-left {
    padding:0;
    margin:0;
    width:272px;
    float: left;
    overflow: hidden;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        display: none;
        @media (orientation: landscape) {
            display:unset;
        }
    }
}

.header-middle {
    padding:0;
    margin:0;
    margin-left: 8px;
    float: left;
    width: 368px;
    overflow: hidden;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        margin-bottom: 8px;
        margin-left: 0;
        @media (orientation: landscape) {

        }
    }
}

.header-right {
    line-height: 16px;
    background: linear-gradient(to left, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:0;
    margin:0;
    margin-left: 8px;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        display: none;
    }
}

.logo-contact {
    padding:0;
    margin:0;
    cursor: pointer;
}

.logo-right {
    padding:0;
    margin:0;
}

.logo-end {
    padding:0;
    margin:0;
}

.header-nav-bar  {
    display: flex;
    justify-content: center;
    width:auto;
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
    }
}

.menu__trigger {
    cursor: pointer;
}

.menu__dropdown {
    opacity: 1.0;
    background-color: #E9ECEF;  
    position: absolute;
    width: 128px;
    padding: 8px;
    text-align: center;
    visibility: hidden;  
    z-index: 99;

    li {  
        margin-top: 8px;
        margin-bottom: 8px;
    }

    a {
        color: #111111;
    }
}

.menu-item {
    float: left;
    margin-right: 32px;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        margin-bottom: 16px;
        float: none;
    }
}

.menu {
    float: left;
}

.navigation-menu__inner menu--desktop {
    float: left;
}

.open {
    visibility: visible;
}

.post-tag-wrapper {
    padding:4px;
    margin:0;
    width: 100%;
}

.post-tags {
    div {
        float: left;
        padding: 8px;
        background-color: #464646;
        box-shadow: 8px 9px 0 0 $color-shadow;
        margin: 12px;
        @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
            padding: 0;
        }
    }
    div ::before {
        content: "# ";
        color: antiquewhite;
    }
}
.content-container {
    .on-list {
        @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
            margin: 0;
            margin-bottom: 8px;
            margin-left: 2%;
            width: 95%;
            padding: 0;
            padding-bottom: 8px;

            h1 {
                float: left;
                margin: 0;
                margin-left: 4px;
                margin-top: 4px;
                width: 48%;
                padding: 0;
            }
        }
    }

    margin-top: 0;
    margin-left:16px;

    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    ul {
        margin-bottom: 8px;
    }

    h1 {
        @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
            width: 48%;
        }

        color: black;
        cursor: pointer;
        margin-left: 8px;
        margin-top: 2px;
        overflow: hidden;
        width:208px;
        margin-bottom: 24px;
    }

    article {
        @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
            width: 100%;

            h1 {
                padding: 0;
                margin: 0;
                float: left;
            }

            .post-content {
                h1, h2, h3, h4, h5, h6 {
                    padding: 4px;
                    float: none;
                    margin: 0;
                    margin-bottom: 16px;
                    margin-top: 16px;
                    width: 50%;
                }
            }
        }
    }
}

.copy-code-button {
    box-shadow: 8px 9px 0 0 $color-shadow;
    background-color: #272822;
    color: white;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    color: black;
}

.copy-code-button:focus {
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}

.post-title {
    text-decoration: underline;
    float: left;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        float: none;
        width: 75%;
    }
}

.post-meta {
    box-shadow: 8px 9px 0 0 $color-shadow;
    margin-right: 12px;
    background-color: #464646;
    padding: 16px;
    float: right;
    align-items: right;
    text-align: center;
    min-width: 192px;

    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        box-shadow: none;
        background-color: unset;
        text-align: right;
        width: 49%;
        min-width: unset;
        margin: 0;
        padding:0;
        margin-top: 4px;
        margin-right: 4px;
    }
}

.post-author {
    color: white;
}

.post-inner {
    max-width: 100%;
    padding-top: 8px;
    
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        margin-left: 0;
        padding-left: 0;
    }
}

.post-content {
    h1 {
        margin-left: 0;
        margin-top: 0;
        overflow: auto;
        width: 128px;

        @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
            width: 100%;
        }
    }

    li {
        margin-bottom: 12px;
        line-height: 24px;

        code {
            margin: 0;
            background-color: #464646;
            color: white;
            box-shadow: 2px 3px 0 0 #111111;
            padding: 2px;
            font-size: 16px;
        }

        img {
            padding: 0;
        }
    }

    ul {
        li::before {
            color: #111111;
            content: "►";
            margin-right: 8px;
            float: left;
        }

        margin-bottom: 12px;
    }

    ol {
        list-style: none;
        counter-reset: none;
    }

    p {
        a {
            text-decoration: underline;
        }

        img {
            max-width:100%;
            padding-bottom: 8px;
        }

        code {
            margin: 0;
            background-color: #464646;
            color: white;
            box-shadow: 2px 3px 0 0 #111111;
            font-size: 16px;
            padding: 2px;
        }
    }
}

.posts {
    padding: 16px;
    width: auto;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        padding: 1px;
    }

    article {
        border-width: 1px;
        border-style: solid;
        border-color: $color-gray-light;
        width: auto;
        padding: 16px;
        margin-bottom: 32px;
    }
}

.post-content-preview {
    text-align: left;
    display: block;
    padding: 0;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #CED4DA;
    padding-top: 4px;
    padding-left: 8px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: none;
    }
}

.read-more {
    background-color: #F8F9FA;
    text-align: center;
    display: block;
    padding: 16px;
    width: 128px;
    margin-bottom: 12px;
    margin-right: 8px;
    color: #111111;

    a {
        //margin-left: 8px;
    }

    float: right;
}

.pagination__title {
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__title {
    display: none;
}

.pagination__buttons {
    //width: 40%;
    padding: 8px;

    h6 {
        cursor: pointer;
        padding: 8px;
    }
}

.button {
    float: left;
    margin-left: 16px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer-rainbow {
    background: linear-gradient(to left, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
    //opacity: 0.70;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    width: 50%;
   
}
