#webamp {
    * {
        font-family: unset;
        font-size: unset;
    }

    div {
        border-style: unset;
        border-width: unset;
        border-color: unset;
        border-style: unset;
        margin-left: unset;
        margin-right: unset;
        margin-top: unset;
        margin-bottom: unset;
        padding-left: unset;
        padding-right: unset;
        padding-top: unset;
        padding-bottom: unset;
        overflow: unset;
    }
}

#dns_form {
    .fa-spin {
        display: none;
    }

    float: left;
    box-shadow: none;
    display: block;
    color: #212529;
    width: 100%;

    p {
        text-align: unset;
        background-color: #CED4DA;
        color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        box-shadow: unset;
        text-align: unset;
        display: unset;
        padding: 0;
        width: unset;
        margin-bottom: unset;
        margin-left: unset;

    }
}

#cidr_form {
    .fa-spin {
        display: none;
    }

    .formio-component {
        width: 100%;
        .form-group {
            float: none;
            width: 100%;
            input {
                width: 100%;
                @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
                }
            }
        }
    }
    float: left;
    box-shadow: none;
    display: block;
    color: #212529;
    width: 100%;
    @media screen and (min-device-width: 360px) and (max-device-width: 767px) {
        width: 90%;
    }

    p {
        text-align: unset;
        background-color: #CED4DA;
        color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        box-shadow: unset;
        text-align: unset;
        display: unset;
        padding: 0;
        width: unset;
        margin-bottom: unset;
        margin-left: unset;

    }
}


#dns_output {
    box-shadow: none;
    height:512px;
    
}

.formio-form {
}

.form-group {
    float: left;
    margin: 8px;
}

#formio2 {
    background-color: black;
    box-shadow: 8px 9px 0 0 #212529;
    display: block;
    color: #212529;
    width: 100%;
  
    p {
        text-align: unset;
        background-color: #CED4DA;
        color: black;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        box-shadow: unset;
        text-align: unset;
        display: unset;
        padding: 0;
        width: unset;
        margin-bottom: unset;
        margin-left: unset;

    }
}

.ck.ck-editor__main>.ck-editor__editable:is(.ck-focused) {
    background-color: #CED4DA;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    background-color: #CED4DA;
}


.ck.ck-toolbar {
    display: none;
    background-color: transparent;
    border: 0;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button {
    background-color: black;
    color:  #CED4DA;
}

.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label {
    font-family: 'Web437_IBM_VGA_8x16', monospace;
    font-size: 16px;
    line-height: 16px;
}

.ck.ck-toolbar>.ck-toolbar__items>*, .ck.ck-toolbar>.ck.ck-toolbar__grouped-dropdown {
    background-color: black;
    color:  #CED4DA;
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
    background-color: black;
    color:  #CED4DA;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    background-color: black;
    color:  #CED4DA;
    border: 0;
}

input {
    padding: 8px;
    margin-bottom: 12px;
    text-align: center;
    display: block;
    background-color:  #CED4DA;
    color: black;
}

button {
    padding: 8px;
    text-align: center;
}

label {
    color: white;
}

.bookmark {
    margin-right: 16px;
    padding: 16px;
    background-color: #343434;
    box-shadow: 8px 9px 0 0 #111111;
    margin-top: 32px;
    margin-bottom: 32px;
}

.bookmark-title {
    float: left;
    width: 50%;
    color: #ADB5BD;
    border-bottom: 1px;

}

.bookmark-url {
    float: right;
    text-align: right;
    width: 50%;
    color: white;
    word-break: break-all;
    
}

