<div class="header-calling-card">    
    <a href="https://paige.bio">
    <span class="logo-contact">Homepage.............................paige.bio</span></a><br>
    <a href="openpgp4fpr:981F74CA39A31C6BA7CB5B40B0464E4557ABC36C">
    <span class="logo-contact">PGP..............................paige.bio/pgp</span></a><br>
    <a href="keybase://chat/iampaigeat">
    <span class="logo-contact">Keybase..................keybase.io/iampaigeat</span></a><br>
    <a href="https://linkedin.com/in/IAmPaigeAT">
    <span class="logo-contact">LinkedIn............linkedin.com/in/IAmPaigeAT</span></a><br>
    <a href="https://github.com/paigeadelethompson">
    <span class="logo-contact">GitHub...........github.com/paigeadelethompson</span></a><br>
    <a href="element://vector/webapp/#/user/%40IAmPaigeAT%3Amatrix.org">
    <span class="logo-contact">Matrix..................@IAmPaigeAT:matrix.org</span></a><br>
    <a href="mailto:paige@paige.bio">
    <span class="logo-contact">E-mail................paige [at] paige [.] bio</span></a><br>
    <a href="https://mastodon.social/@IAmPaigeAT@infosec.exchange">
    <span class="logo-contact">Mastadon...........IAmPaigeAT@infosec.exchange</span></a><br>
    <a href="tel:+12069462468">
    <span class="logo-contact">Telephone......................+1-206-946-2468</span></a><br>
    <a href="https://twitter.com/IAmPaigeAT">
    <span class="logo-contact">Twitter.............................IAmPaigeAT</span></a><br>
    <a href="https://launchpad.net/~iampaigeat">
    <span class="logo-contact">Launchpad............launchpad.net/~iampaigeat</span></a><br>
    <a href="https://youtube.com/@IAmPaigeAT">
    <span class="logo-contact">YouTube................youtube.com/@IAmPaigeAT</span></a><br>
    <a href="https://gitlab.com/IAmPaigeAT">
    <span class="logo-contact">GitLab...................gitlab.com/IAmPaigeAT</span></a><br>
    <a href="discord://discordapp.com/channels/@IAmPaigeAT">
    <span class="logo-contact">Discord.............................IAmPaigeAT</span></a><br>
    <a href="https://pypi.org/user/IAmPaigeAT">
    <span class="logo-contact">PyPI..................pypi.org/user/IAmPaigeAT</span></a><br>
    <a href="https://npmjs.com/~iampaigeat">
    <span class="logo-contact">NPM......................npmjs.com/~iampaigeat</span></a><br>
    <a href="https://hub.docker.com/u/paigeadele">
    <span class="logo-contact">Docker.............hub.docker.com/u/paigeadele</span></a><br>
    <a href="https://salsa.debian.org/IAmPaigeAT">
    <span class="logo-contact">Debian.............salsa.debian.org/IAmPaigeAT</span></a><br>
    <span class="logo-contact">▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀</span><br>
</div>

<!--div style="visibility: hidden;" id="wine_status"></div>
<div style="visibility: hidden;" id="wine_progress"></div>
<div style="visibility: hidden;" id="wine_spinner"></div>
<canvas style="visibility: hidden;" id="canvas"></canvas-->