<div class="graphicMenu">
    <a href="/resume">
        <div class="graphicMenuItem">
            <span>.▄▄▄· ▄▄▄▄·       ▄• ▄▌▄▄▄▄▄</span><br />
            <span>▐█ ▀█ ▐█ ▀█▪▪     █.██▌•██</span><br />
            <span>▄█▀▀█ ▐█▀▀█▄ ▄█▀▄ █▌▐█▌ ▐█.▪</span><br />
            <span>▐█ ▪▐▌██▄.▐█▐█▌.▐▌▐█▄█▌ ▐█▌·</span><br />
            <span>▀   ▀ ·▀▀▀▀  ▀█▄▀  ▀▀▀  ▀▀▀ </span>
        </div>
    </a>
    <a href="/posts">
        <div class="graphicMenuItem">
            <span>.▄▄▄·      .▄▄ · ▄▄▄▄▄.▄▄ · </span><br />
            <span>▐█ ▄█▪     ▐█ ▀. •██  ▐█ ▀. </span><br />
            <span>.██▀· ▄█▀▄ ▄▀▀▀█▄ ▐█.▪▄▀▀▀█▄</span><br />
            <span>▐█▪·•▐█▌.▐▌▐█▄▪▐█ ▐█▌·▐█▄▪▐█</span><br />
            <span>▀     ▀█▄▀  ▀▀▀▀  ▀▀▀  ▀▀▀▀ </span>
        </div>
    </a>
    <a href="/bookmarks">
        <div class="graphicMenuItem">
            <span>▄▄▌  ▪    ▐  ▄ ▄ •▄ .▄▄ · </span><br />
            <span>██•  ██  •█▌▐█ █▌▄▌▪▐█ ▀. </span><br />
            <span>██▪  ▐█· ▐█▐▐▌ ▐▀▀▄·▄▀▀▀█▄</span><br />
            <span>▐█▌▐▌▐█▌ ██▐█▌ ▐█.█▌▐█▄▪▐█</span><br />
            <span>▀▀▀▀▀ ▀ ▀▀  █▪ ·▀  ▀ ▀▀▀▀ </span>
        </div>
    </a>
    <a href="/pgp">
        <div class="graphicMenuItem">
            <span>.▄▄▄· ▄▄ •  ▄▄▄·</span><br />
            <span>▐█ ▄█▐█ ▀ ▪▐█ ▄█</span><br />
            <span>.██▀·▄█ ▀█▄ ██▀·</span><br />
            <span>▐█▪·•▐█▄▪▐█▐█▪·•</span><br />
            <span>.▀   ·▀▀▀▀ .▀   </span>
        </div>
    </a>
</div>