{{ define "main" }}
{{ with .Content }}

<div class="index-content">
    {{ . }}
</div>

{{ end }}

<div class="posts">

    {{ range .Paginator.Pages }}

    <article class="post on-list">

        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>

        <div class="post-meta">
            {{ if .Date }}
            <time class="post-date">
                {{ .Date.Format "2006-01-02" }} ::
            </time>
            {{ end }}
            {{ with .Params.Author }}
            <span class="post-author">{{ . }}</span>
            {{ end }}
        </div>

        <br />

        <div class="post-content-preview">

            {{ if .Params.showFullContent }}
            {{ .Content }}
            {{ else if .Description }}
            {{ .Description | markdownify }}
            {{ else }}
            {{ .Summary | markdownify }}
            {{ end }}

        </div>

        {{ if .Params.tags }}
        <br style="clear: both" />
        <div class="post-tag-wrapper">
            <span class="post-tags">
                {{ range .Params.tags }}
                <div><a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;</div>
                {{ end }}
            </span>
        </div>
        {{ end }}
    </article>
    <br style="clear: both" />
    {{ end }}

    {{ partial "pagination.html" . }}

</div>

{{ end }}
