{{ define "main" }}

<article class="post">

    <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h1>

    <div class="post-meta">

        {{ if .Date }}

        <time class="post-date">
            Created:
            {{ .Date.Format "2006-01-02" }}
            {{ if $.Site.Params.showLastUpdated }}
            [{{or $.Site.Params.updatedDatePrefix "Updated:"}} {{ .Lastmod.Format "2006-01-02" }}]
            {{ end }}
        </time>

        {{ end }}
        {{ with .Params.Author }}

        <span>Author:</span>
        <span class="post-author">{{ . }}</span>

        {{ end }}

        {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}

        <span class="post-reading-time">:: {{ .ReadingTime }} min read ({{ .WordCount }} words)</span>

        {{ end }}

    </div>

    {{ if .Params.tags }}
        <br style="clear: both" />
        <div class="post-tag-wrapper">
        <span class="post-tags">
            {{ range .Params.tags }}
            <div><a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;</div>
            {{ end }}
        </span>
        </div>
    {{ end }}
    
    <br style="clear: both" />
    
    <div class="post-content">

        {{- with .Content -}}

        <div class="post-inner">
            {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">¶</a> ${3}` | safeHTML }}

        </div>

        {{- end -}}

    </div>

    {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ partial "posts_pagination.html" . }}
    {{ end }}

    {{ if not (.Params.hideComments | default false) }}
    {{ partial "comments.html" . }}
    {{ end }}

</article>
{{ end }}
